@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  border: 0;
}
label,
input {
  line-height: normal;
  font-family: "Poppins", sans-serif;
}
label,
button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}
body {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
}

::selection {
  background: #1b1b1b;
  color: #fff;
}
